@import "@/scss/helperVariables.scss";

.body_main{
  align-items: center;
  flex-direction: column;
  display: flex;
}
.title_main{
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.5rem;
  padding-top: 2em;

  color: $black_9;
}


.button_generate{
  padding: 1rem 3.5rem;
  background: $yellow_93;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 4.2rem;
  border: none;

  &_text{
    font-style: normal;
    font-weight: 520;
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* Grey-Complementary-4/900 */

    color: $black_9;
  }
  &:hover{
    background: $yellow_87;
  }
}