$white : #FFFFFF;
$gray_81 : #CFCFCF;
$gray_33 : #565656;
$gray_41 : #696969;
$gray_77 : #c4c4c4;
$black_9 : #181818;
$yellow_87 : #FFAF20;
$yellow_93 : #FFBE12;
$blue_90 : #4563E6;
$skyBlue_99 : #02adf1;
$skyBlue_70 : #4562E6;
